
# This MySQL user account is for your administrative use only and should *not* be used to configure your website's connection string.  
# The password may be rotated from time to time.

[client-mariadb]
ssl-verify-server-cert=0

[mariadb-dump]
ssl-verify-server-cert=0

[mysql]
host=localhost
user=cliente_1
password=y1rsMLYQSOVa

[mysqldump]
host=localhost
user=cliente_1
password=y1rsMLYQSOVa
