<footer id="contact-us">
  <div class="container">
      <div class="footer-content">
          <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12">
                  <div class="contact-form">
                      <form action="https://ws.grupogotek.com.br/webhook/666c0a34-0553-4c46-9923-60c473e3cb05" method="post" class="wpcf7 ajaxForm">
                          <div class="row">
                              <div class="col-md-6 col-sm-12">
                                  <fieldset>
                                      <input name="name" type="text" id="name" placeholder="Nome" style="background-color: rgba(250,250,250,0.3);" required>
                                  </fieldset>
                              </div>
                              <div class="col-md-6 col-sm-12">
                                  <fieldset>
                                      <input name="phone" type="text" id="phone" placeholder="Telefone" style="background-color: rgba(250,250,250,0.3);" required>
                                  </fieldset>
                              </div>
                              <div class="col-lg-12">
                                  <fieldset>
                                      <textarea name="message" rows="6" id="message" placeholder="Mensagem..." style="background-color: rgba(250,250,250,0.3);" required></textarea>
                                  </fieldset>
                              </div>
                              <div class="col-lg-12">
                                  <fieldset>
                                      <button type="submit" id="form-submit" class="main-button button-send" data-umami-event="Enviar mensagem - Form contato"><i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar Mensagem</button>
                                  </fieldset>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>

              <div class="right-content col-lg-6 col-md-12 col-sm-12">
                  <h2><i class="fa fa-comments-o"></i> Fale Conosco</h2>
                  <p>Envie-nos uma mensagem com elogios, dúvidas e sugestões, será um prazer saber sua opinião. Utilizando o formulário ao lado.</p>
                  <p>Para para com um de nossos atendentes utilize o <strong>Chat Online</strong> no canto inferior direito ou clique no botão abaixo e seja direcionado a nosso atendimento via WhatsApp.</p>
                  <p>
                      <a href="https://wa.me/5511913688290" target="_blank" class="main-button button-whatsapp" data-umami-event="Contato via WhatsApp" ><i class="fa fa-whatsapp"></i> WhatsApp</a>
                  </p>
              </div>
          </div>
      </div>

      <div class="row site-footer">
          <div class="col-xs-6 col-md-2">
              <img alt="SysGO Logo Branco" src="assets/images/logo-white.webp" />
          </div>

          <div class="col-sm-12 col-md-7">
              <h6>Sobre nós</h6>
              <p class="text-justify">Nascidos do desejo de tornar o OpenSource uma realidade acessível a todos os empreendimentos, desenvolvemos e incentivamos projetos de código aberto para diversos setores. Integramos nossas soluções a projetos nacionais e internacionais, sempre com o objetivo de oferecer soluções práticas, seja para sustentação ou desenvolvimento.</p>
          </div>

          <div class="col-xs-6 col-md-3">
              <h6>Links Úteis</h6>
              <ul class="footer-links">
              <li><a href="pdvCelular.html">Sistema PDV</a></li>
              <li><a href="mapos.html">Instância MAP-OS</a></li>
              <li><a href="https://cliente.sysgo.com.br/index.php?rp=/login" target="_blank">Painel do Cliente</a></li>
              <li><a href="politicas/termos-de-servicos.html">Termos de Serviços</a></li>
              <li><a href="politicas/politica-de-privacidade.html">Política de Privacidade</a></li>
              <li><a href="politicas/politica-de-fatura.html">Política de Faturas</a></li>
              <li><a href="https://uptime.sysgo.com.br/status/sysgo" target="_blank">Statuspage</a></li>
              </ul>
          </div>
      </div><hr>
  </div>

  <div class="container">
      <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">&copy;2025 Powered by <a href="#">SYSGO LTDA</a> || CNPJ: 55.997.256/0001-07.<br>Todos os Direitos Reservados.</p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                  <!-- <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li> -->
                  <li><a class="instagram" href="https://www.instagram.com/sysgosolucoes" target="_blank"><i class="fa fa-instagram"></i></a></li>
                  <li><a class="youtube" href="https://youtube.com/@SysGOSolucoes" target="_blank"><i class="fa fa-youtube"></i></a></li>'
              </ul>
          </div>
      </div>
  </div>
</footer>

<!-- Bottom WhatsApp -->
<div class="wa-float">
    <a href="https://api.whatsapp.com/send?phone=5511913688290&text=Ol%C3%A1%2C%20gostaria%20de%saber%20o%20mais." target="_blank" data-umami-event="WhatsApp Float"><i class="fa fa-whatsapp"></i></a>
</div>