<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="index.html" class="logo">
                      <img alt="SysGO Logo" src="assets/images/sysgo.png" />
                  </a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                      <li class="scroll-to-section"><a href="#welcome" class="menu-item">Início</a></li>
                      <li class="scroll-to-section"><a href="#about" class="menu-item">Serviços</a></li>
                      <li class="scroll-to-section"><a href="#pricing" class="menu-item">Sistemas</a></li>
                      <li class="scroll-to-section"><a href="#testimonials" class="menu-item">Depoimentos</a></li>
                      <li class="scroll-to-section"><a href="#contact-us" class="menu-item">Contato</a></li>
                  </ul>
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
</header>